extends layout

block content
  h1= title
  form.js-raw-data-form
    .form-group
      textarea.raw-data-input.js-raw-data-input
    .form-group.text-right
      .spinner.js-spinner
      button.btn.btn-primary.btn-lg.js-raw-data-submit Submit