doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/tokenfield-typeahead.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-tokenfield.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/jquery-2.2.4.js")
    script(src="/javascripts/vendor/jquery-ui.js")
    script(src="/javascripts/vendor/bootstrap.js")
    script(src="/javascripts/vendor/bootstrap-tokenfield.js")
    script(src="/javascripts/vendor/underscore.js")
    script(src="/javascripts/vendor/backbone.js")
    script(src="/javascripts/vendor/backbone.radio.js")
    script(src="/javascripts/vendor/backbone.marionette.js")
    script(src="/javascripts/app.js")
  body
    .navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand ☘
        .nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/raw') Raw data

    .container
      .sm-12
        block content




